<form action="/sessions" method="POST">
 
    <h1 class="subheader">Log In</h1><hr>
    <p>Log in to your account below.</p>
    <p>Don't have an account? <a href="/users/signup">Sign Up!</a></p>
    <br>

    <label for="username"><b>Username: </b></label>
    <input type="text" placeholder="Your Username " id="username" name="username" required><br>

    <label for="password"><b>Password: </b></label>
    <input type="password" placeholder="Enter Password" id="password" name="password" required>
    <br><br>
    <input type="submit" value="Log In">
    
</form>