<h1 id="taskhead">Your To-Do Tasks:</h1>


<ul id="tasklist">
    <% @tasks.each do |task| %>   
        <li><a href="tasks/<%=task.id%>"><%= task.name %></a></li>
    <% end %>
    <br><form action="/tasks/new" style="text-align: left;">
    <input type="submit" value="Add a New Task">
</form>
</ul>
<div id="taskinstruct">
<h3>Click on any of your tasks above to view, edit, complete, or delete them.</h3>
<h3>You can also check out your progress below when tasks are marked as complete!</h3>
</div>

<div id="progress">

<h2>Completed: </h2>

<%if @completed_tasks.empty? %>
    <p>No completed tasks...yet!</p> 
<% else %>
<ul>
    <% @completed_tasks.each do |task| %>   
        <li><a href="tasks/<%=task.id%>"><%= task.name %></a></li>
    <% end %>
    <br><br>
   <form action="/tasks/clear-complete" method="POST">
         <input type="submit" value="Clear Completed Tasks">
    </form>
</ul>
<br>
<h4>Note:  Editing a completed task will re-add it to your task list and remove it's "completed" status!</h4>
<% end %>
</div>

<br><br>

<h3 id="destroy-prompt">If you're ready to start a fresh to-do list, you can delete all of your current and completed tasks by clicking below.</h3>
<h4 ">Warning! This will PERMANENTLY delete ALL of your current to-do tasks as well as your completed progress!</h4>
<form action="/tasks/destroy" method="POST">
<input type="submit" value="START FRESH!">
</form>