<h1 id="taskhead">Your Tasks:</h1>


<ul id="tasklist">
    <% @tasks.each do |task| %>   
        <li><a href="tasks/<%=task.id%>"><%= task.name %></a></li>
    <% end %>
    <br><form action="/tasks/new" style="text-align: left;">
    <input type="submit" value="Add a New Task">
</form>
</ul>

<h3 id="taskinstruct">Click on any of your tasks above to view, edit, or delete them.</h4>

<br><br>

<h3 id="destroy-prompt">If you're ready to start a fresh to-do list, you can delete all of your current tasks by clicking below.</h3>
<h4 style="color: red;">Warning! This will PERMANENTLY delete ALL of your current tasks!</h4>
<form action="/tasks/destroy" method="POST">
<input type="submit" value="DELETE ALL">
</form>