<h1 style="font-family: cursive; color: darkred; text-decoration: underline;">Hey, <%= current_user.username.capitalize %>!</h1>

<h2>Thanks for using A Task at A Time! Check out what's on your to-do list by clicking "My Tasks" above.  
If you're just starting or don't have any yet, you can always start by creating one. Enjoy!</h2>

