<!DOCTYPE html>
<html>
    <meta>
    <head>
        <title>A Task @ A Time</title>
        <link rel="stylesheet" href="/stylesheets/style.css" >
    </head>
    </meta>
    <body>
    
    <div class="img-area">
    <h1>A Task @ A Time</h1>
        
        <h2 style="font-family: cursive;" >Your Best Task Tracker</h2>
       
       
        <% if logged_in? %>
            <ul>
                <li><a href='/users/home'>Home</a></li>
                <li><a href='/tasks'>My Tasks</a></li>
                <li><a href='/tasks/new'>Add-a-Task</a></li>
                <li><a href='/sessions/logout'>Sign Out</a></li>
            </ul>
        <% else %>
          <ul>
            <li><a href='/sessions/login'>Log In</a></li>
            <li><a href='/users/signup'>Sign Up</a></li>
          </ul>
        <% end %>
        </div>

        <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
                <h4 style="color: red;"><%= flash[type] %></h4>
            </div>
        <% end %>
        <%= yield %>
    </body>
</html>