<!DOCTYPE html>
<html>
    <meta>
    <head>
        <title>A T @ A T</title>
        <link rel="stylesheet" href="/stylesheets/style.css" >
    </head>
    </meta>
    <body>
    
    <div class="img-area">
    <header class="project-name">A Task @ A Time</header>
        <div class="container">
        <h1 style="font-family: cursive;" >Your Latest To-Do List</h1>
        <% if logged_in? %>
            <ul>
                <li><a href='/users/home'>Home</a></li>
                <li><a href='/tasks'>My Tasks</a></li>
                <li><a href='/tasks/new'>Create a Task</a></li>
                <li><a href='/sessions/logout'>Sign Out</a></li>
            </ul>
        <% else %>
          
          <ul>
            <li><a href='/sessions/login'>Log In</a></li>
            <li><a href='/users/signup'>Sign Up</a></li>
          </ul>
        <% end %>
        </div>
        </div>
        <%= yield %>
    </body>
</html>