<!DOCTYPE html>
<html>
    <head>
        <title>A Week @ A Time</title> 
        <link href='public/stylesheets/style.css' rel='stylesheet'>
    </head>
    <body>
        <h1>Project name</h1>
        <%= yield %>
    </body>
</html>