<!DOCTYPE html>
<html>
    <meta>
    <head>
        <title>A Task @ A Time</title>
        <link rel="stylesheet" href="/stylesheets/style.css" >
    </head>
    </meta>
    <body>
    
    <div class="img-area">
    <header class="project-name">A Task @ A Time</header>
        <div class="container">
        <% if logged_in? %>
            <h1>Welcome <%= current_user.username.capitalize %>!</h1>
            <ul>
                <li><a href='/user/home'>Home</a></li>
                <li><a href='/tasks/new'>Create a Task</a></li>
                <li><a href='/tasks'>My Tasks</a></li>
                <li><a href='/sessions/logout'>Sign Out</a></li>
            </ul>
        <% else %>
          <ul>
            <li><a href='/sessions/login'>Log In</a></li>
            <li><a href='/users/signup'>Sign Up</a></li>
          </ul>
        <% end %>
        </div>
        </div>
        <%= yield %>
    </body>
   <!-- <footer><h4>© Graphics & Logic by Rahman Elsirafy</h4></footer> -->
</html>