<h2>Welcome to A Task at A Time!</h2>
<h3>If you ever feel like all the things you need to do are just too overwhelming to focus and just need a means to focus on specific tasks, this is the tool for you!
     Narrow down your focus on exactly what needs immediate attention A Task at A Time. People can suggest writing things down but why take the chance of losing that piece of paper or writing down something important in a rush that you can't even read later? 
     Access everything you need to do here with your own task list that you can create, update, edit, or delete here! 
        To get started, log in to your account or create a new one using the links above!</h3>
